@font-face {
  font-family: 'MuseoSansCyrl';
  src: url(./MuseoSansCyrl-500.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url(./MuseoSansCyrl-900.ttf) format('truetype');
  font-weight: 900;
}

body {
  font-family: 'MuseoSansCyrl';
}
